.imgDownload {
  max-width: 100%;
  height: auto;
}

.downloadLink {
  display: block;
  text-align: center;
}

.navNumber {
  font-size: 12px;
}

/* .insertWord {
} */

.ExampleList {
  text-decoration: none;
  color: black;
}

.carousel-inner img {
  height: 200px !important;
  margin: 0 auto;
}

.headerText {
  text-align: center;
}

.legendText {
  font-size: 16px;
  text-align: center;
}
